/*   Loading animation   */
.loading-partial .wrapper {
    margin-top: 30px;
}

.loading-partial .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
}

.loading-partial .wrapper svg.loader {
    height: 20px;
    width: 70px;
    position: relative;
    top: -10px;
    left: -35px;
}

.loading-partial .wrapper svg.loader circle {
    fill: #333;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    -webkit-animation: loading 1.2s infinite;
    -moz-animation: loading 1.2s infinite;
    -o-animation: loading 1.2s infinite;
    animation: loading 1.2s infinite;
    -webkit-animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    -moz-animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    -o-animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.loading-partial .wrapper svg.loader circle:nth-child(1) {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}

.loading-partial .wrapper svg.loader circle:nth-child(2) {
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -o-animation-delay: .5s;
    animation-delay: .5s;
}

.loading-partial .wrapper svg.loader circle:nth-child(3) {
    -webkit-animation-delay: .7s;
    -moz-animation-delay: .7s;
    -o-animation-delay: .7s;
    animation-delay: .7s;
}

@-webkit-keyframes loading {
  0%, 100% {
    -webkit-transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes loading {
  0%, 100% {
    -moz-transform: scale(0);
  }

  50% {
    -moz-transform: scale(1);
  }
}

@-o-keyframes loading {
  0%, 100% {
    -o-transform: scale(0);
  }

  50% {
    -o-transform: scale(1);
  }
}

@keyframes loading {
  0%, 100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

/*  Main  */
.blank {
    margin: 20px 0 0 0;
}

.font14 {
    font-size:14pt;
}
.font16 {
    font-size:16px;
}
.font18 {
    font-size:18px;
}
.font22 {
    font-size:22px;
}


.movies .td1 {
    width: 20%;
}
.movies .td1 img {
/*  width: 100%; */
}
.movies .td2 {
    width: 60%;
    padding: 10px 0 0 20px;
    text-align: left;
    font-size: 16pt;
}
.movies .td3 {
    width: 20%;
    padding: 10px 0 0 20px;
    text-align: center;
    font-size: 16pt;
}
.movies .td3 input { /*
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5); */
}


.reg input {       /* class="form-control" */
  display: block;
  padding: 6px 12px;
  color: #333;
  background-color: #fefdeb;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    width: 100%;
    height: 34px;
    font-size: 18px;
}
.reg input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.pointer {
    cursor:pointer;
}


/*  CHART  */
[ac-chart] {
    float: left;
    width: 95%;
    height: 450px;
    margin: 0 1%;
}
.ac-tooltip {
    color: black;
    border: 2px solid rgba(200,200,0,0.8);
    background-color: rgba(200,200,0,0.5);
}
#chart .ac-legend-box {
    border-radius: 10px;
}

select.chart {
  display: block-inline;
  color: #333;
  background-color: #fefdeb;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    width: 15%;
    font-size: 14pt;
    margin:0 0 20px 0;
}
select.chart:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}


