<div class="modal" id="{{ modalDialogId }}" tabindex="-1" role="dialog" aria-labelledby="Modal dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" style="margin-top:-10px;"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>

        <div class="modal-body" style="text-align:center;">
			<iframe src="{{ trailerUrl }}" width="480" height="270" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" frameborder="no" scrolling="no"></iframe>
        </div>

        <div class="modal-footer" style="text-align:center;">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

    </div> <!-- <div class="modal-content"> -->
  </div>
</div>
